{% extends 'layout.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center my-5">
                    <h3 class="display-4">
                        Thank you for choosing us for your stay.
                    </h3>
                    <p class="lead">
                        We strive to provide you with a satisfying experience.
                        If you have any needs or inquiries, feel free to call us at <strong>888888</strong>.
                        We will do our utmost to offer you the best service.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
